.scroll-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    /* -moz-animation: scroll-animation 15s linear infinite;
    -webkit-animation: scroll-animation 15s linear infinite; */
    animation: scroll-animation 45s linear infinite;
}

/* for Firefox */
@-moz-keyframes scroll-animation {
    from {
        -moz-transform: translateX(100%);
    }
    to {
        -moz-transform: translateX(-100%);
    }
}

/* for Chrome */
@-webkit-keyframes scroll-animation {
    from {
        -webkit-transform: translateX(100%);
    }
    to {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

/* .spin-words {
    animation: spin-words 30s infinite;
}

@keyframes spin-words {
    10% {
        transform: translateY(-112%);
    }

    25% {
        transform: translateY(-100%);
    }

    35% {
        transform: translateY(-212%);
    }

    50% {
        transform: translateY(-200%);
    }

    60% {
        transform: translateY(-312%);
    }

    75% {
        transform: translateY(-300%);
    }

    85% {
        transform: translateY(-412%);
    }

    100% {
        transform: translateY(-400%);
    }
} */
