{
    "printWidth": 80,
    "tabWidth": 4,
    "trailingComma": "none",
    "singleQuote": false,
    "semi": true,
    "arrowParens": "avoid",
    "htmlWhitespaceSensitivity": "ignore",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "cursorOffset": -1,
    "embeddedLanguageFormatting": "auto",
    "endOfLine": "lf",
    "filepath": "",
    "insertPragma": false,
    "jsxSingleQuote": false,
    "overrides": [],
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "useTabs": false,
    "vueIndentScriptAndStyle": false,
    "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
